body{
	background: url(../img/background.jpg) no-repeat;
	background-size: cover;
	background-position: center -200px;
}
.wrapper{
	width: 960px;
	height: 90vh;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	z-index: 1;
}
.box{
	height: 100%;
	padding: 20px 30px;
	background-color: rgba(255,255,255,0.2);
	border: 2px solid rgba(255,255,255,0.3);
	background-clip: border-box,content-box;
	backdrop-filter: blur(2px);
	border-radius: 2px;
	overflow: auto;
	position: relative;
}
h1{
	text-align: center;
	color: #D62828;
}
h2{
	text-align: center;
	color: #003049;
	font-size: 20px;
}
p.lucky{
	font-size: 15px;
	text-align: center;
	color:#000;
	background-color: rgba(255,255,255,0.3);
}
.terms{
	position: absolute;
	bottom: 80px;
	left: 30px;
}
.terms h3{
	color: #003049;
	font-size: 15px;
	font-weight: bold;
}
.terms ul{
	padding-left: 20px;
}
.terms li{
	font-size: 14px;
	color: #D62828;
	margin-bottom: 0; 
}
#copyright{
	width: calc(100% - 60px);
	display: block;
	background-color: #D62828;
	padding: 10px;
	box-sizing: border-box;
	color: #facb01;
	font-size: 12px;
}
#copyright a{
	color: #fff;
	font-size: 12px;
}
.countdown{
	margin-top: 40px;
	width: 100%;
	height: 180px;
	text-align: center;
}
.countdown a{
	background-color: #D62828;
	padding: 6px 20px;
	border-radius: 2px;
	color: #fff;
	text-decoration: none;
}
.countdown a:hover{
	opacity: 0.9;
}
.count{
	position: relative;
	top: 30px;
	font-size: 40px;
	font-family: 'DotGothic16', sans-serif;
	margin-bottom: 10px
	margin-top:20px;
	color: #D62828;
}
.result{
	position: relative;
	top: 30px;
	font-size: 40px;
	margin-bottom: 20px
}
.overlay{
	content: "";
	width: 100vw;
	height: 100vh;
	position: absolute;
	top: 0;
	left: 0;
	background: rgba(0,0,0,0.7);
	visibility: hidden;
	opacity: 0;
	z-index: -1;
}
.winner{
	background: #fff;
	width: 600px;
	height: 500px;
	background: url(../img/winner.jpg) no-repeat;
	background-position: center center;
	background-size: cover;
	position: fixed;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	border-radius: 5px;
	border: 5px solid #fff;
	visibility: hidden;
	opacity: 0;
	z-index: -1;
}
.winner:after{
	content: "X";
	width: 24px;
	height: 24px;
	background: rgba(255,255,255,1);
	padding: 1px 7px;
	border-radius: 50%;
	color: #D62828;
	right: 5px;
	top: 5px;
	position: absolute;
	cursor: pointer;
}
.winner p{
	position: absolute;
	bottom: 10px;
	text-align: center;
	width: 100%;
	font-size: 26px;
	font-weight: bold;
	color: #D62828;
}